.product-filter {
    display: flex;
    color: white;
    //border: 1px solid white;
    justify-content: space-between;

    h1 {
        flex-grow: 1;
        position: relative;
        bottom: 50px;
    }

    .sort {
        display: flex;
        gap: 10px;
    }

    .collection-sort {
        display: flex;
        flex-direction: column;
    }
}

.Inventory {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    margin-left: 50px;
    justify-content: center;
    column-gap: 100px;
    position: relative;

    .video_game {
        .card {
            position: relative;
            z-index: 1;
            background-color: black;
            display: flex;
            justify-content: center;
            width: 330px;
            height: 450px;
            text-align: center;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-shadow: none;
            margin-right: 10px;
            margin-top: 30px;
            margin-left: 10px;


            img {
                position: relative;
                z-index: 0;
                object-fit: cover;
                padding: 10px;
                overflow-clip-margin: content-box;
                box-sizing: border-box;
                max-width: auto;
                height: 300px;
                object-fit: cover;
                //height: auto;
            }

            .info {
                justify-content: center;
                //border: 1px solid green;
                height: 150px;
                max-width: auto;
                margin-top: auto;
                //margin-left: 5px;
                //margin-right: 5px;
                color: white;
                position: relative;
                bottom: 10px;


                h2 {
                    text-align: center;
                    justify-content: center;
                    //inline-size: 150px;
                    overflow-wrap: break-word;
                    line-height: 95%;
                }

                p {
                    position: relative;
                    bottom: 10px;
                    line-height: 1%;
                    font-size: 12px;
                }

                h3 {
                    //border: 1px solid white;
                    position: absolute;
                    top: 65px;
                    left: 0;
                    right: 0;

                    line-height: 100%;
                    font-size: 30px;
                    color: rgba(246, 208, 59, 255);
                }
            }
        }

        .card:hover {
            position: relative;
            z-index: 2;
            transform-origin: center;
            transform: scale(1.3);
            border: 1px solid rgba(255, 255, 255, 0.0);
            -webkit-box-shadow: 0px 0px 22px -4px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 22px -4px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 22px -4px rgba(255, 255, 255, 1);
        }
    }
}