.cart {
    color: black;
    position: absolute;
    right: 70px;
    top: 125px;
    z-index: 999;
    background-color: rgba(246, 208, 59, 255);
    padding: 20px;
    border-radius: 10px 0px 10px 10px;
    -moz-border-radius: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 0px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: none;

    h1 {
        color: black;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;

        img {
            max-width: 120px;
            height: auto;
            object-fit: cover;
        }

        .details {
            h1 {
                font-size: 18px;
                font-weight: 500;
            }

            p {
                color: gray;
                margin-bottom: 10px;
                font-size: 14px;
            }

            .price {
                color: #2879fe;
            }
        }

        .delete {
            position: absolute;
            display: flex;
            justify-content: space-between;
            right: 10px;
            color: red;
            font-size: 15px;
            cursor: pointer;
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }

    button {
        width: 250px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        background-color: #2879fe;
        color: white;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .reset {
        color: red;
        font-size: 12px;
        cursor: pointer;
    }
}